<div class="mnu">
<div class="dropdown">
  <div class="dropbtn">{{data.userName}}</div>
  <div class="dropdown-content">
    <a href="#createuser">Create User</a>
    <a href="#deleteuser">Delete User</a>
    <a href="/logout">Sign Out</a>
  </div>
</div></div>
<br><br>
<div class="lightbox" id="createuser">
    <figure>
        <a href="#" class="close"></a>
        <figcaption>
            <h2>Sign Up</h2>
            <div class ="frm2">
            <form name="register" method ="post" action= "/register" autocomplete="on">
                <br><br>
                <div class="line4">Full name: </div><div class = "line3"><input type="text" name = "fullName" id="fullName" required></div><br><br>
                <div class="line4">User Name: </div><div class = "line3"><input type="text" name = "userName" id="userName" required></div><br><br>
                <div class="line4">Email: </div><div class = "line3"><input type="text" name = "email" id="email" required></div><br><br>
                <div class="line4">Password: </div><div class = "line3"><input type="password" name = "password" id="password" required></div><br><br>
                <div class="line4">Re-Enter Password: </div><div class = "line3"><input type="password" name = "password1" id="password1" required></div><br><br>
                <br>
                <input type="submit" value ="Sign Up" STYLE="color: #FFFDD0; font-size: 15px; background-color: #B70003;  border: solid #B70003;"> &nbsp;&nbsp;&nbsp;&nbsp;
                <input type = "reset" value ="Reset" STYLE="color: #FFFDD0; font-size: 15px; background-color: #B70003;  border: solid #B70003;"><br><br>
            </form>
            </div>
        </figcaption>
    </figure>
</div>
<div class="lightbox" id="deleteuser">
    <figure>
        <a href="#" class="close"></a>
        <figcaption>
            <h2>Delete User</h2>
            <div class ="frm2">
            <form name="delete" method ="post" action= "/delete" autocomplete="on">
                <br><br>
                <div class="line2">User Name: </div><div class = "line3"><input type="text" name = "userName" id="userName" {{#if userName}}value={{userName}}{{else}}value=""{{/if}} required></div><br><br>
                <div class="line2">Password: </div><div class = "line3"><input type="password" name = "password" id="password" required></div><br><br>
                <br>
                <input type="submit" value ="Submit" STYLE="color: #FFFDD0; font-size: 15px; background-color: #B70003;  border: solid #B70003;"> &nbsp;&nbsp;&nbsp;&nbsp;
                <input type = "reset" value ="Reset" STYLE="color: #FFFDD0; font-size: 15px; background-color: #B70003;  border: solid #B70003;"><br><br>
            </form>
            </div>
        </figcaption>
    </figure>
</div>
<!--open files-->
{{#if errorMessage}}
    <div class="alert alert-danger">
        <strong>Error: </strong> {{errorMessage}}
    </div>
{{/if}}
{{#if err}}
    <div class="alert alert-danger">
        <strong>Error:</strong>{{err}}
    </div>
{{/if}}
<table>
    <th>
        <tr>
            <td>Names</td>
        </tr>
    </th>
{{#each name}}
    <tr>
        <td>{{this}}</td>
    </tr>
{{else}}
        <tr>
        <td colspan="4">No Data Available</td>
    </tr>
{{/each}}
</table>

